$footer-full-bg:                     $gray-200 !default;
$static-hero-bg:                     $footer-full-bg !default;
$alignleft-margin-right:             1.5em !default;
$alignright-margin-left:             $alignleft-margin-right !default;
$jumbotron-margin-bottom:            0px !default;
$navbar-h1-font-size:                $font-weight-normal !default;
$wrapper-sticky-border-bottom-color: $border-color !default;
$wrapper-sticky-border-bottom-width: $border-width !default;